{% extends "nav.html" %}
{% block content %}
{% load static %}




 <!-- contact section start -->
 <div class="Contact_section layout_padding">
    <div class="container">
      <h1 class="categories_text">Contact</h1>
      <p class="dummy_text"></p>
      <div class="email_box">
        <div class="input_main">
          <div class="container">
            <form method="post">
                {% csrf_token %}
              
                <div>
              <input type="text" placeholder="Name" />
            </div>
            <div>
              <input type="email" placeholder="Email" />
            </div>
            <div>
              <input type="text" placeholder="Phone Number" />
            </div>
            <div>
              <input type="text" class="message-box" placeholder="Message" />
            </div>
          
              <div class="send_bt"><button type="submit" style="width: 100%;
                float: left;
                font-size: 18px;
                color: #ffffff;
                background-color: #d1b75e;
                text-align: center;
                padding: 10px 0px;
                border-radius: 40px;
                margin-top: 20px;
                text-transform: uppercase;">Send</button></div> 
              
            </form>   
          </div> 
                           
        </div>
      </div>
    </div>
  </div>
  <!-- contact section end -->
 
{% for i in messages %}
<script>alert("{{i}}")</script>

{% endfor %}



{% endblock %}